    <!-- ******ABOUT****** -->
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">My Story</h2>
            <p class="intro text-center">I am a Software Developer with a love for all things built in the back-end. I found my love for programming in the Philippines as a Peace Corps Volunteer and I've brought that passion home and into all my projects since. Today I'm working as an Java Developer with Daimler in Portland, building the future of Digital Mockups in the automotive industry.</p>
            <p class="intro text-center">Here’s a quick breakdown of my Software Developer timeline.</p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-child"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Pre-Programming</h3>
                        <p>Encountered a web project as a Peace Corps Volunteer and dipped my toe into programming. This initiated a chain of education in my free time. This culminated in my quitting my job in market research to go full-time as a student at Epicodus (a coding bootcamp). I was going to finally make the jump to the Developer world.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-sun-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Programming Revelation</h3>
                        <p>At Epicodus I created applications in Ruby, Javascript, and used frameworks such as Rails and Ember. I learned that given some effort and dedication, I could work with any programming language. At this point I knew I had made the right decision, I loved it all. I ended my course with an internship with a Ruby-house, Hint Media.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-terminal"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Full-Tilt Programming</h3>
                        <p>Immediately after my internship I started work with Daimler, where I work today. I transitioned to working with Java and Python in my new Developer role. I joined an agile-pioneering team where I was eventually elected Scrum Master by my team. Everyday my team and I ship quality code for our clients and we take great pride in this.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="clearfix visible-md"></div>
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//about-->
