    <!-- ******ABOUT****** -->
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">My Story</h2>
            <p class="intro text-center">I am a newly minted Software Developer with a love for all things built in the back-end. I found my love for programming in the Philippines as a Peace Corps Volunteer and I've brought that passion home and through all my projects since. Today I'm working as an intern with Hint in Portland and am working with a team crushing bugs and building superior products.</p>
            <p class="intro text-center">As to where I came from, here's a quick breakdown of my personal history.</p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-child"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Pre-Programming</h3>
                        <p>Grew up living on a boat, moved to a cabin without running water or electricity, and finally joined the Peace Corps after earning my degree from Western Washington University. The typical origin story.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-sun-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Programming Revelation</h3>
                        <p>Encountered a web marketing project as a Peace Corps Volunteer and finally dipped my toe into programming. This initiated a chain of learning, culminating in quitting my job in market research to go full-time as a student at Epicodus, making the jump to the Developer world.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-terminal"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Full-Tilt Programming</h3>
                        <p>Over the course of my time at Epicodus, I created applications in Ruby, Javascript, and used frameworks such as Rails and Ember. I've learned that given enough effort and dedication, I can master any programming language. Bring it on.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="clearfix visible-md"></div>
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//about-->
