    <!-- ******PROJECTS****** -->
    <section id="projects" class="docs section">
      <div class="container">
        <div class="docs-inner">
          <h2 class="title text-center">Projects</h2>
          <div class="block">
            <h3 class="sub-title text-center">GYR (Green|Yellow|Red)</h3>
            <p class="text-center"><strong>HackPDX 2015 1st place project</strong></p>
            <p>A web suite for teachers to manage student records while keeping parents fully informed.</p>
            <p>Teachers can track behavior, make individual comments on students, mark absences/tardies, detail the day's lessons, detail and attached the evening's homework, and finally email parents all that information from one screen. The live demo was made within 10 hours.</p>
            <ul class="list-unstyled">
              <li><strong>Build:</strong> Ruby on Rails and PostgreSQL</li>
              <li>
                <strong>Teammates:</strong>
                <a href="https://www.linkedin.com/in/acacayorin" target="_blank">Aileen Cacayorin</a> |
                <a href="https://www.linkedin.com/in/smulloy21" target="_blank">Shannon Mulloy</a> |
                <a href="https://www.linkedin.com/in/caterinapaun" target="_blank">Caterina Paun</a>
              </li>
            </ul>
            <p class="text-center">
              <a class="btn btn-cta-primary" href="https://github.com/Aileen-Cacayorin/HackPDX_projectGYR" target="_blank">More on GitHub</a>
            </p>
          </div><!--//block-->
        </div><!--//docs-inner-->
      </div><!--//container-->
      <div class="container">
        <div class="docs-inner">
          <div class="block">
            <h3 class="sub-title text-center">Hiresly</h3>
            <p>A Rails backed web app built to connect employers with capable developer talent.</p>
            <p>Still in development, this is meant to allow Devs of all skills to impress employers through coding challenges. A reverse job board that grants employers the opportunity to screen applicants online with real code.</p>
            <ul class="list-unstyled">
              <li><strong>Back-end:</strong> Ruby on Rails and PostgreSQL</li>
            </ul>
            <p class="text-center">
              <a class="btn btn-cta-primary" href="https://github.com/aceokay/hiresly" target="_blank">More on GitHub</a>
            </p>
          </div><!--//block-->
        </div><!--//docs-inner-->
      </div><!--//container-->
      <div class="container">
        <div class="docs-inner">
          <div class="block">
            <h3 class="sub-title text-center">Craigslist Scraper</h3>
            <p>A Ruby web app to scrape Craigslist's Missed Connections</p>
            <p>Built within a team of four, our custom scraper can take user-generated queries and have all relevant posts returned to a user's profile for future reference. All from live Craigslist postings.</p>
            <ul class="list-unstyled">
              <li><strong>Scraper Build:</strong> Combination of the gems Mechanize and Nokogiri</li>
              <li><strong>Back-end:</strong> Sinatra, PostgreSQL, and ActiveRecord</li>
            </ul>
            <p class="text-center">
              <a class="btn btn-cta-primary" href="https://github.com/aceokay/missed_connections" target="_blank">More on GitHub</a>
            </p>
          </div><!--//block-->
        </div><!--//docs-inner-->
      </div><!--//container-->
      <div class="container">
        <div class="docs-inner">
          <div class="block">
            <h3 class="sub-title text-center">PumpkinHub.com</h3>
            <p>An Ember-backed web app built to highlight all things Pumpkin related.</p>
            <p>The premier source of pumpkin related items and experiences within the US. Initially mirroring a Bustle design, it has grown into it's own creature, and continues to expand today.</p>
            <ul class="list-unstyled">
              <li><strong>Build:</strong> Ember and Firebase</li>
            </ul>
            <p class="text-center">
              <a class="btn btn-cta-primary" href="https://github.com/aceokay/pumpkinHub" target="_blank">More on GitHub</a>
            </p>
          </div><!--//block-->
        </div><!--//docs-inner-->
      </div><!--//container-->
    </section><!--//docs-->
