    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">Austin <span class="highlight">Kincaid</span></h2>
            <p class="intro">Junior Developer</p>
            <ul class="meta list-inline">
                <li><a href="https://github.com/aceokay" target="_blank">View my GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/aokincaid" target="_blank">Peep my LinkedIn</a></li>
            </ul><!--//meta-->
        </div><!--//container-->
    </section><!--//promo-->
