    <!-- ******SKILLS****** -->
    <section id="skills" class="features section">
        <div class="container text-center">
            <h2 class="title">skills</h2>
            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-check"></i> Java</li>
                <li><i class="fa fa-check"></i> Python</li>
                <li><i class="fa fa-check"></i> Ruby</li>
                <li><i class="fa fa-check"></i> JavaScript</li>
                <li><i class="fa fa-check"></i> Flask</li>
                <li><i class="fa fa-check"></i> WebSphere</li>
                <li><i class="fa fa-check"></i> Ruby on Rails</li>
                <li><i class="fa fa-check"></i> Ember</li>
                <li><i class="fa fa-check"></i> TDD + BDD</a></li>
                <li><i class="fa fa-check"></i> HTML + CSS</li>
                <li><i class="fa fa-check"></i> Git</li>
                <li><i class="fa fa-check"></i> Scrum</li>
                <li><i class="fa fa-times"></i> <del>Pole Vaulting</del></li>
            </ul>
        </div><!--//container-->
    </section><!--//features-->
